aiosqlite==0.16.0
astroid==2.8.6
black==19.10b0
coverage==5.0.4
entrypoints==0.3
flake8==3.7.9
Hypercorn==0.11.2
mccabe==0.6.1
mutagen==1.45.1
mypy==0.910
mypy-extensions==0.4.4
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.11.1
Quart==0.15.1
Quart-CORS==0.5.0
wrapt==1.13.3
