<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Download</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Contribute to Rhasspy, the free offline voice assistant for many human languages">
        <meta name="author" content="Michael Hansen">

        <link rel="icon" href="img/favico.png">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/fontawesome-all.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md bg-dark text-light">
                <a class="navbar-brand" href="index.html" title="Back to home page">
                    <img src="img/rhasspy-icon.svg" height="50" alt="Rhasspy icon">
                </a>
                <h2 class="font-weight-bold">
                    RHASSPY
                </h2>
                <div class="ml-auto">
                    <span class="text-white">{{ user_id }}</span>
                </div>
            </nav>
        </header>
        <div class="alert alert-info text-center">
            <p>
                <strong>NOTE:</strong>
                All content on this site has been dedicated to the <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain (CC0)</a>
            </p>
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <a class="btn btn-primary" href="download-all?language={{ language }}&userId={{ user_id }}">
                        <i class="fas fa-3x fa-download mr-2"></i>
                        Download All
                    </a>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <table class="table">
                        <thead>
                            <th>Permalink</th>
                            <th>Text</th>
                            <th>Date</th>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>
                                    <a href="media/{{ language }}/{{ user_id }}/{{ item.name }}">{{ item.id }}</a>
                                </td>
                                <td>{{ item.text }}</td>
                                <td>{{ item.date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <hr>
        <footer class="container mt-5">
            <img class="float-right" src="img/terminal.svg" alt="Smiling computer terminal" height="50">
            <p>
                &copy; 2020 <a href="https://synesthesiam.com" alt="Link to author home page">Michael Hansen</a> &middot; <a href="https://raw.githubusercontent.com/rhasspy/rhasspy/master/LICENSE">License</a>
            </p>
        </footer>
    </body>
</html>
