<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Contribute to Rhasspy, the free offline voice assistant for many human languages">
        <meta name="author" content="Michael Hansen">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/fontawesome-all.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md bg-dark text-light">
                <a class="navbar-brand" href="index.html" title="Back to home page">
                    <img src="img/rhasspy-icon.svg" height="50" alt="Rhasspy icon">
                </a>
                <h2 class="font-weight-bold">
                    RHASSPY
                </h2>
                <div class="ml-auto">
                    <span class="text-white">{{ user_id }}</span>
                </div>
            </nav>
        </header>
        <div class="container-fluid text-center mt-2">
            <div class="row-fluid text-center">
                <p>
                    Contribute to the <a href="https://github.com/rhasspy/rhasspy">Rhasspy project</a> by recording yourself or verifying the work of others!
                </p>
                <p>
                    All content submitted to this site must be dedicated to the <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain (CC0)</a>
                </p>
            </div>
            <hr>
            <div class="row-fluid">
                <label for="userId" class="mr-2">Enter a user id:</label>
                <input id="userId" type="text" placeholder="user id" value="{{ user_id }}">
                (<a href="#whatisthis">what is this?</a>)
            </div>
            <div class="row-fluid mt-3">
                <label for="language" class="mr-2">Choose a language:</label>
                <select id="language">
                    <option value="en-us" selected>U.S. English</option>
                    <option value="fa">Persian (fārsi)</option>
                    <option value="sv-se">Swedish (svenska)</option>
                    <option value="nl">Dutch</option>
                    <option value="fr-fr">French (Français)</option>
                    <option value="de-de">German (Deutsch)</option>
                </select>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <form id="formRecord" method="get" action="record">
                        <input id="recordLanguage" type="hidden" name="language" value="en-us">
                        <input id="recordUserId" type="hidden" name="userId" value="{{ user_id }}">
                        <button type="submit" class="btn btn-danger form-control">
                            <i class="fas fa-3x fa-microphone"></i>
                            <h3>Record</h3>
                        </button>
                        <p>
                            Read sentences in your native language
                        </p>
                    </form>
                </div>
                <div class="col">
                    <form id="formRecord" method="get" action="verify">
                        <input id="verifyLanguage" type="hidden" name="language" value="en-us">
                        <input id="verifyUserId" type="hidden" name="userId" value="{{ user_id }}">
                        <button type="submit" class="btn btn-success form-control">
                            <i class="fas fa-3x fa-check"></i>
                            <h3>Verify</h3>
                        </button>
                        <p>
                            Match spoken audio with text and trim noise
                        </p>
                    </form>
                </div>
                <div class="col">
                    <form id="formDownload" method="get" action="download">
                        <input id="downloadLanguage" type="hidden" name="language" value="en-us">
                        <input id="downloadUserId" type="hidden" name="userId" value="{{ user_id }}">
                        <button type="submit" class="btn btn-primary form-control">
                            <i class="fas fa-3x fa-download"></i>
                            <h3>Download</h3>
                        </button>
                        <p>
                            Download your data and get permalinks
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="container" id="whatisthis">
            <p class="font-weight-bold">Q: What is the user id for?</p>
            <p>A: It ensures we don't show you the same sentence twice. This is not an account, and there is no password. Pick something unique!</p>
        </div>
        <script>
         var verbs = ['record', 'verify', 'download']

         function q(id) {
             return document.querySelector(id);
         }

         document.addEventListener('DOMContentLoaded', function() {
             q('#language').value = '{{ language }}';

             verbs.forEach(function(verb) {
                 q('#' + verb + 'Language').value = '{{ language }}';
             });

             q('#language').addEventListener('change', function() {
                 let language = q('#language').value;
                 verbs.forEach(function(verb) {
                     q('#' + verb + 'Language').value = language;
                 });
             });

             q('#userId').addEventListener('change', function() {
                 let userId = q('#userId').value;
                 verbs.forEach(function(verb) {
                     q('#' + verb + 'UserId').value = userId;
                 });
             });
         });
        </script>
    </body>
</html>
